* {
    bg: #000000;
    bg-alt: #045C07;
    fg: #4AB34D;
    fg-alt: #2E9031;
    border: #4AB34D;
    selected: #3CA23F;
    background-color: transparent;
    text-color: @fg;
    font: "Hack Nerd Font 12";
}

window {
    background-color: @bg;
    border: 1px solid;
    border-color: @border;
    border-radius: 4px;
    padding: 5px;
    // width: 600px;
}

mainbox {
    background-color: transparent;
    children: [ inputbar, listview ];
    // spacing: 15px;
}

inputbar {
    background-color: @bg;
    text-color: @fg;
    // border: 1px solid;
    // border-color: @border;
    // border-radius: 4px;
    // padding: 10px 15px;
    padding: 4px 5px;
    children: [ prompt, entry ];
    spacing: 10px;
}

prompt {
    text-color: @fg;
    background-color: transparent;
}

entry {
    text-color: @fg;
    background-color: transparent;
    placeholder: "Search...";
    placeholder-color: @fg-alt;
}

listview {
    // background-color: transparent;
    background-color: @bg;
    columns: 1;
    lines: 6;
    // spacing: 5px;
    cycle: true;
    dynamic: true;
    scrollbar: false;
}

element {
    background-color: @bg;
    text-color: @fg;
    border-radius: 1px;
    padding: 1px 5px;
}

element.normal.normal {
    background-color: @bg;
    text-color: @fg;
}

element.selected.normal {
    background-color: @selected;
    text-color: @bg;
}

element.alternate.normal {
    background-color: @bg;  /* Alternate row color */
    text-color: @fg;
}

element selected {
    background-color: @selected;
    text-color: @bg;
    border: 1px solid;
    border-color: @border;
}

element-text {
    background-color: transparent;
    text-color: inherit;
}

// element-icon {
//     background-color: transparent;
//     size: 24px;
//     margin: 0 10px 0 0;
// }

scrollbar {
    handle-width: 6px;
    handle-color: @fg-alt;
    background-color: @bg-alt;
    border-radius: 3px;
    margin: 0 0 0 5px;
}

message {
    background-color: @bg;
    border: 1px solid;
    border-color: @border;
    border-radius: 8px;
    padding: 10px;
}

textbox {
    text-color: @fg;
    background-color: transparent;
}

